<ion-header >
  <ion-toolbar>
    <ion-title class="titulo">Doar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="conteudo animate__animated animate__fadeInLeft"> 
    <ion-card (click)="doarAlimentos()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/IconDoarAlimentos.png" />
        </ion-thumbnail>
        <ion-label>Alimentos</ion-label>
      </ion-item>
    </ion-card>
  </div>

  
  <div class="conteudo animate__animated animate__fadeInLeft"> 
    <ion-card (click)="doarRoupas()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/IconDoarRoupas.png" />
        </ion-thumbnail>
        <ion-label>Roupas</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div class="conteudo animate__animated animate__fadeInLeft"> 
    <ion-card (click)="doarSangue()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/IconDoarSangue.png" />
        </ion-thumbnail>
        <ion-label>Sangue</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div class="conteudo animate__animated animate__fadeInLeft"> 
    <ion-card (click)="doarSangue()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/IconDoarProdutosHigiene.webp" />
        </ion-thumbnail>
        <ion-label>Produtos de Higiene</ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div class="conteudo animate__animated animate__fadeInLeft"> 
    <ion-card (click)="doarSangue()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/IconDoarBrinquedos.png" />
        </ion-thumbnail>
        <ion-label>Brinquedos</ion-label>
      </ion-item>
    </ion-card>
  </div>

</ion-content>