@import "@ionic/angular/css/core.css";

.titulo {
    text-align: center;
}

:root {
    --ion-font-family: "Varela Round", sans-serif;

    --ion-toolbar-background: #29065a;
    --ion-toolbar-color: #fff100;

    --ion-background-color: linear-gradient(180deg, #29065a 0%, #7314fd 100%);

     --ion-tab-bar-background: #29065a;
    --ion-tab-bar-color: #44578a;
    --ion-tab-bar-color-selected: #fff100;


    --ion-text-color: white;
    --ion-text-color-rgb: 255,255,255;
}
.conteudo {
    max-width: 500px;
    margin: auto;
    text-align: center;
}